@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");
:root {
  --main-color: rgb(130, 97, 238);
  --minor-color: #ff3399;
  --custom-light: #fff;
}
*,
*::before,
*::after {
  font-family: "Raleway", sans-serif;
}
body {
  margin-bottom: 20%;
  overflow-x: hidden;
  background-color: var(--custom-light) !important;
}
header {
  height: 85vh;
  background: linear-gradient(
      rgba(130, 97, 238, 0.89),
      rgba(130, 97, 238, 0.89)
    ),
    url(images/img-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 20% !important;
}
nav {
  background: var(--custom-light) !important;
  border-radius: 45px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.199);
  margin-left: 6rem;
  margin-right: 6rem;
}
.nav-link:hover,
.nav-link.active {
  color: var(--main-color) !important;
}
.navbar-nav {
  font-size: 12px;
}
#home {
  margin-top: 120px;
  color: var(--custom-light);
}

#hero-btn {
  transition: 0.3s ease-out;
  background-color: var(--minor-color);
  border-radius: 100px;
}
#hero-btn:hover {
  box-shadow: 0 0 0 1.5px var(--custom-light);
}
.featured-img {
  background-color: var(--main-color);
  border-radius: 50%;
  padding: 15px;
}
.card-subtitle {
  font-weight: 500;
  color: #000;
}
.card-rows {
  gap: 60px;
  margin-bottom: 90px;
}
#about .card {
  border: none;
  border-radius: 30px;
  width: 20rem;
}
#about .card:hover .featured-img {
  background-color: var(--minor-color);
  transition: 0.6s ease-out;
}
#row-2nd,
#row-3rd {
  gap: 60px;
}
#row-3rd {
  margin-top: 15%;
}
#work-process {
  margin-top: 15%;
  background: linear-gradient(
      rgba(130, 97, 238, 0.89),
      rgba(130, 97, 238, 0.89)
    ),
    url(images/img-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 8rem 0;
  color: var(--custom-light);
}
#work-process .card {
  width: 11rem;
  border-radius: 30px;
  padding: 0 5px;
  box-shadow: 8px 8px 0 rgba(255, 255, 255, 0.15) !important;
}
#testimonial {
  margin-top: 10%;
  margin-bottom: 18%;
}
#testimonial .card {
  width: 19rem;
  border: 0;
  border-radius: 30px;
  padding: 2rem 1.3rem;
}
#testimonial .first-paragraph {
  margin-bottom: 5%;
  font-size: 16px !important;
}
#testimonial .card-body {
  font-size: 14px !important;
}
.card-text-style {
  color: var(--minor-color);
}
/*  */
#pricing-tables {
  background: rgba(242, 242, 254, 0.93);
  padding: 7rem 0;
}
#pricing-tables .first-context {
  padding-bottom: 8rem;
}
#pricing-tables .prices-box {
  background: var(--main-color);
  color: var(--custom-light);
  border-radius: 10px;
  padding: 6px 10px !important;
}
#pricing-tables .card {
  width: 20rem;
  border-radius: 16px;
  padding: 2rem 3rem !important;
}
#pricing-tables .card:hover .prices-box {
  padding: 2px 0 !important;
}
#pricing-tables .box-second {
  background: var(--minor-color);
}
#pricing-tables .btn {
  background: var(--main-color);
  color: var(--custom-light);
  border-radius: 100px;
  margin-top: 12px;
}
#pricing-tables .btn:hover {
  background: var(--custom-light);
  color: var(--main-color);
  box-shadow: 0 0 0 1.5px var(--main-color);
}
.dollar-sign {
  font-size: 44px;
}
#counter-js {
  padding: 10rem 0;
  margin-top: 15%;
  background: linear-gradient(
      rgba(130, 97, 238, 0.89),
      rgba(130, 97, 238, 0.89)
    ),
    url(images/img-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--custom-light);
}
#counter-js .row div {
  width: 15rem;
}
/* blog section */
#blog-entries {
  margin-top: 15%;
  margin-bottom: 15%;
}
#blog-entries .card {
  width: 17rem;
}
#blog-entries .first-paragraph {
  margin-bottom: 6rem !important;
}
#blog-entries .card .card-img {
  overflow: hidden;
  border-radius: 20px;
}
#blog-entries .card img:hover {
  transition: all 0.8s ease;
  transform: scale(1.15);
}
#blog-entries .btn {
  background: var(--main-color);
  border-radius: 40px;
  color: var(--custom-light);
  padding: 3px 8px !important;
}
#form-row {
  margin-top: 10rem !important;
}
#contact-us {
  background: rgba(242, 242, 254, 0.93);
  padding: 6rem 0;
}
#contact-us textarea {
  border-radius: 0.8rem;
}
#contact-us input[value="SEND MESSAGE"] {
  background: var(--main-color);
  color: var(--custom-light);
  padding: 0.6rem 1rem;
}
#contact-us input[value="SEND MESSAGE"]:hover {
  transition: 0.2s ease;
  padding: 0.4rem 1rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 576px) {
  nav {
    margin-left: 10px;
    margin-right: 10px;
  }
  #home .lead {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 306px) {
  nav {
    margin-left: 5px;
    margin-right: 5px;
  }
  .navbar img {
    width: 60%;
  }
}
